.settings/*
/build
/logs
*/data
*data/*
*/logs
*/previous-harvest
*.DS_Store
*errDest/*
support/*
/.build/
/deploy.properties
/build.properties
/runtime.properties
/ontology/public/catalog-v0001.xml

rdf/auth/firsttime/test-user-model.owl
utilities/solrtester/.work
utilities/rdbmigration/.work

**/.idea
**/*.iml
**/target

**/overlays

# Eclipse artifacts
**/.settings
**/.classpath
**/.project
**/bin/
/example-scripts/bash-scripts/full-harvest-examples/1.13-1.15-examples/example-openalex/logs/
/example-scripts/bash-scripts/full-harvest-examples/1.13-1.15-examples/example-openalex/data/
/example-scripts/bash-scripts/full-harvest-examples/1.13-1.15-examples/example-openalex/previous-harvest/
