<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <profiles>
        <profile>
            <id>defaults</id>
            <properties>
                <app-name>${env.API_APP_NAME}</app-name>
                <tomcat-dir>${env.CATALINA_HOME}</tomcat-dir>
                <vivo-project-dir>${env.VIVO_PROJECT}</vivo-project-dir>
                <vitro-project-dir>${env.VITRO_PROJECT}</vitro-project-dir>
                <tomcat.skipCopy>false</tomcat.skipCopy>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>defaults</activeProfile>
    </activeProfiles>
</settings>
